<template name="home">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">LEAD Miami</h1>
        <div class="row center">
          <h5 class="header col s12 light">Laboratory of Experiential Analysis and Design</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax">
      <img src="img/miami_bw.jpg" alt="black and white downtown miami">
    </div>
  </div>

  <div id="thesis" class="container section">
    <div class="row section">
      <div class="col s12">
<!--        <h5 class="flow-text-bigger section center">
          Miami offers countless opportunities and challenges. It takes bravery to pursue an opportunity, grit to handle the challenges, and wisdom to know the difference.
        </h5> -->
        <p class="flow-text">A city's identity comes from the people. Our collective experiences, attitudes, and actions are the history and present by which we will be defined.</p>
        <p class="flow-text">When we engage one another and believe that we are more than just our individual selves, we may together lead Miami to a future of our own design.</p>
        <p class="flow-text">We gather people to examine our city's past and present. Together, we work to impact Miami's future.</p>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light text-shadow">What We Do</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/biscayne-park.jpg" alt="biscayne park">
    </div>
  </div>

  <div class="container section" id="what">
      <div class="row section">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center"><i class="fa fa-users"></i></h2>
            <h5 class="center">Events</h5>
            <p class="light">We gather to appreciate Miami better, and to rethink how we choose to live here. Come and be a part of the story.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center"><i class="fa fa-rocket"></i></h2>
            <h5 class="center">Projects</h5>
            <p class="light">We challenge our roles in shaping our city and propose new ways to make an impact. Learn about us through our work.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="parallax-container valign-wrapper"  id="team">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light text-shadow">Who We Are</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/north-miami-ave.jpg" alt="north miami ave">
    </div>
  </div>

  <div class="container section" id="team">
      <div class="row section">

        <div class="col m6 center">
          <h4>Serial Entrepreneur</h4>
          <img src="img/team/luna.jpg" class="circle">
          <p class="left-align light">"It's not about waiting for the right conditions. It's about being free with what you have." Daniela Luna founded Apetite gallery in Buenos Aires to make just this point. A forward-thinker in economics and social responsibility, Luna now is ready to be free with everything Miami has to offer. She started LEAD Miami as way to redefine Miami for herself, and is now challenging others to do the same.</p>
        </div>

        <div class="col m6 center">
          <h4>Developer</h4>
          <img src="img/team/mauro.jpg" class="circle">
          <p class="left-align light">Born and raised in Miami, Mauro Perez is a web developer rethinking how we work and play. In February 2015, Mauro collaborated with Luna on The Meaning Machine, an exhibit at DOT Fiftyone Gallery which explored the lines between our work and our lives, and proposed to blur them. He is now rediscovering Miami's story, past and present, as the best means to shape its future.</p>
        </div>

      </div>
  </div>

  <div class="parallax-container valign-wrapper" id="join-us">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light text-shadow">Join the Movement</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/wynwood-sunset.jpg" alt="wynwood miami sunset">
    </div>
  </div>

  <div class="container section" id="sign-up">
      <div class="row center section">
        <div class="col s12 center">
          <p class="flow-text">
            Want to stay in the know?
          </p>
          <p class="flow-text">
            Let us email you once in a while.
          </p>
          <p class="flow-text">
            Don't worry. We won't give your email away :)
          </p>
          <p><button onClick="mailchimpSignup()" class="btn waves-effect waves-light"><i class="mdi-content-send left"></i>Sign Up</button></p>
        </div>
      </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/miami-water-view.jpg" alt="wynwood miami sunset">
    </div>
  </div>
</template>
